/* Fonts */
@font-face {
    font-family: "VarelaRound";
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: "Sonorus";
    src: url(../fonts/Sonorous.otf);
}

.title{
    color: #ffffff;
    font-family: "Sonorus";
}

.text{
    color: #ececec;
    font-family: "VarelaRound";
}

.link{
    color: #e6f4ff;
    font-family: "VarelaRound";
}

.varela_round{
    font-family: "VarelaRound";
}


/* General Page */
* { /* keeps gaps from apearing at side of page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #232223;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;
}

footer{
    background-color: #232223;
}

.banner{
    padding-bottom: 10px
}

body {
    background-color: #131213;
    display: flex;
    flex-direction: column;
}

.page-background-color{
    background-color: #232223;
}

html, body { /* Keeps footer on bottom */
    height: 100%;
    margin: 0;
}

main{ /* Keeps footer on bottom and moves content down so header doesnt cover top*/
    flex: 1;
    margin-top: 58px;
}

footer{ 
    background-color: #262b30;
    margin-top: 20px;
    border-top: 0.1rem solid #666666;
    height: 40px;
}

.divider{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 7px;
}

/* Fade In Anim */
.fade_in {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.fade_in.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* Responsive Changes */

/* Banner */
@media (min-width: 701px) {
    .banner{
        width: 1920px;
        height: auto;
    }
}

@media (max-width: 700px) {
    .banner{
        width: 274%;
        height: auto;
    }
}


/* Divider */
@media (min-width: 1201px) {
    .divider{
        width: 998.4;
    }
}

@media (max-width: 1200px) {
    .divider{
        width: 83%;
    }
}
